{% extends "layout.html"%}

{% block title %}
      
{% endblock %}

{% block content %}
    <h1 class="text-center mt-4"> This is the tweeter page </h1>
<h2>
    {% if form.instance.pk %} 
    Edit tweet 
    {% else %} 
    Creat tweet 
    {% endif %}
</h2>
<form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-warning" type="submit">Submit</button>
</form>
<a href="{% url "tweet_list" %}"> Back </a>
{% endblock %}

